@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  transition: 0.2s ease-in;
}

.wrapper {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
}

main {
  margin: 0 auto;
}

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  transition: 0.2s ease-in;
}

.on {
  display: block;
}

.navigation {
  position: relative;
  z-index: 3;
  height: 100px;
  width: 100%;
  transition: 0.2s ease-in;
}

.navigation__content {
  position: relative;
  z-index: -1;
  background-color: #0f0e13;
  height: 150px;
  top: -200px;
  opacity: 0;
  transition: all 0.2s linear, opacity 350ms ease-in;
  /* transition-delay: 0.2s; */
  padding-bottom: 30px;
}

.navigation__list {
  padding: 15px 0;
  font-size: 30px;
  margin: 10px;
}

a {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  text-decoration: none;

  text-transform: uppercase;
  font-weight: bold;
}

.navigation__content.visible {
  display: block;
  opacity: 1;
  z-index: -1;
  top: -14px;
}

.navigation img {
  position: relative;
  top: 30px;
  left: 30px;
  width: 100px;
}

.navigation__hamburger {
  position: absolute;
  width: 50px;
  top: 70px;
  right: 30px;
  transform: translate(-50%, -50%);
}

.navigation__line {
  width: 40px;
  height: 3px;
  display: block;
  margin: 8px 0;
  background-color: white;
  transition: 0.2s;
}

.navigation__hamburger:hover {
  cursor: pointer;
}

.navigation__hamburger.is-active .navigation__line:nth-child(2) {
  opacity: 0;
}
.navigation__hamburger.is-active .navigation__line:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}
.navigation__hamburger.is-active .navigation__line:nth-child(3) {
  transform: translateY(-13px) rotate(-45deg);
}

.navigation.is-active {
  background-color: #0f0e13;
}

.entry {
  color: aliceblue;
  min-height: 100vh;
  max-width: 100%;
}

.entry__image {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center 0;
  background-image: url("../images/1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.entry__content {
  min-height: 80vh;
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  flex-wrap: wrap;
}

.entry__text {
  text-transform: uppercase;
  width: 100%;
  margin: 0 auto;
}

.entry__text1 {
  text-align: center;
  font-size: 14px;
}

.entry__text2 {
  margin: 10px;
  text-align: center;
  font-size: 16px;
}

.fade {
  transform: translateY(100px);
  opacity: 0;
  transition: opacity 400ms ease-in, transform 400ms ease-in;
}

.fade-in {
  transform: translateY(0);
  opacity: 1;
}

.entry__buttons {
  margin-top: 18px;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  justify-content: center;
  margin: 2px;
  font-size: 16px;
  font-weight: bold;
}

.entry__button1 {
  padding: 20px 60px;
  margin: 10px;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid aliceblue;
  border-radius: 50px;
  background-color: #fff;
  color: black;
}

.entry__button2 {
  padding: 20px 60px;
  margin: 10px;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid aliceblue;
  border-radius: 50px;
  background-color: #fff;
  color: black;
}

.workout {
  /* height: 100%; */
  width: 100%;
  position: relative;
}

.workout__img {
  margin: 10px auto;
  margin-top: -10%;
  background-size: contain;
  background-repeat: no-repeat;
  width: 75%;
  /* width: 200px; */
  height: 75%;
  /* height: 200px; */
  border-radius: 2px;
  position: relative;
  z-index: 5;
  /* top: 20%; */
  /* transform: translate(-50%, -50%); */
}

.workout__imgWrapper {
  text-align: center;
}

.workout__content {
  margin: 0 10px;
  height: 70%;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
}

.workout__text1 {
  margin-top: 50px;
  margin-bottom: 60px;
  font-size: 30px;
  font-weight: bold;
}

.workout__text2 {
  margin-bottom: 100px;
  font-size: 14px;
  line-height: 1.8;
}

.workout__buttons {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: bold;
  justify-content: center;
}

.workout__button1 {
  padding: 20px 60px;
  margin: 10px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 50px;
  background-color: rgb(26, 26, 26);
  color: #eee;
}

.workout__button2 {
  padding: 20px 60px;
  margin: 10px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 50px;
  background-color: rgb(26, 26, 26);
  color: #eee;
}

.live {
  margin-top: 50px;
  width: 100%;
}

.live__images {
  margin: 0 auto 20px;
  /* margin-bottom: 20px; */
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: center;
}

.live__img.fade {
  transform: translateX(150px);
  opacity: 0;
  transition: all 200ms ease-in, opacity 200ms ease-in;
}

.live__img.fade-in {
  transform: translateX(0);
  opacity: 1;
}

.live__img2.fade-in {
  transition-delay: 0ms;
}
.live__img1.fade-in {
  transition-delay: 200ms;
}
.live__img4.fade-in {
  transition-delay: 300ms;
}
.live__img3.fade-in {
  transition-delay: 400ms;
}
.live__img6.fade-in {
  transition-delay: 550ms;
}
.live__img5.fade-in {
  transition-delay: 650ms;
}

.live__img {
  width: 35vw;
  height: 80%;
  padding: 5px;
}

.live__img3 {
  margin-right: 40px;
}

.live__content {
  height: 50vh;
  justify-content: start;
  text-align: center;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
}

.live__text1 {
  margin: 30px 0;
  text-transform: uppercase;
  font-size: 25px;
}

.live__text2 {
  line-height: 1.75;
  font-size: 18px;
}

.live__button {
  display: flex;
  font-size: 16px;
  font-weight: bold;
  justify-content: center;
  margin-top: 35px;
}

.live__button1 {
  padding: 20px 60px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 50px;
  background-color: black;
  color: #eee;
}

.questionsWraper {
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
  margin-bottom: 60px;
}

.questions {
  width: 100%;
  margin-top: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-weight: bold;
  background-color: #ddd;
}

.question__title {
  padding-top: 30px;
  padding-bottom: 10px;
  font-size: 15px;
  text-transform: uppercase;
}

.question {
  width: 70%;
  margin: 30px auto;
  transition: 0.1s;
  height: 100%;
}

input {
  display: none;
}

label {
  margin: 0 auto;
  padding: 10px 0;
  width: 100%;
  cursor: pointer;
  display: inline-block;
  background-color: white;
  color: #111;
  border-radius: 3px;
  transition: 0.1s, color 0.1s;
  -webkit-transition: background-color 0.1s, color 0.1s;
}

.test {
  box-sizing: border-box;
  width: 100%;
  height: 0;
  padding: 0 10px;
  margin: -1px auto;
  overflow: hidden;
  text-align: center;
  font-weight: normal;
  background-color: white;

  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;

  -webkit-transition: height 0.3s ease;
}

input:checked + .test {
  height: 120px;
}

.carousel {
  position: relative;
  height: 300px;
  margin: 0 auto;

  width: 80%;
  /* width: 40%; */
}

.carousel__image {
  position: relative;
  height: 100%;
  object-fit: contain;
}

.carousel__track {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
  height: 100%;
  transition: transform 400ms ease;
}

.carousel__track-container {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.carousel__slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
}

/* --------------------------------------------------- */
.carousel__slide-1 {
  margin: 0 auto;
  position: relative;
  height: 100%;
  /* transform: translate(50%, 50%); */
}

.carousel__button {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  border: 0;
}

.carousel__button--left {
  left: -14px;
  cursor: pointer;
}

.carousel__button--right {
  right: -45px;
  cursor: pointer;
}

.carousel__nav {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.carousel__indicator {
  border: 0;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: rgb(0, 0, 0, 0.3);
  margin: 0 10px;
  cursor: pointer;
}

.is-hidden {
  display: none;
}

.carousel__indicator.courent-slide {
  background: rgb(0, 0, 0, 0.75);
}

.footer {
  position: relative;
  height: 100px;
  background: rgb(0, 0, 0);
  color: white;
  text-align: center;
  line-height: 100px;
  font-size: 36px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__icons {
  margin: 0 20px;
  padding: 0 20px;
  height: 30%;
  color: white;
}

.footer__icons:hover {
  cursor: pointer;
}

@media (min-width: 500px) {
  input:checked + .test {
    height: 90px;
  }
}
@media (min-width: 768px) {
  input:checked + .test {
    height: 120px;
  }
}
@media (min-width: 1000px) {
  input:checked + .test {
    height: 120px;
  }
}

@media (min-width: 520px) {
  .live__img {
    width: 40vw;
    margin-bottom: 50px;
    /* width: 170px; */
  }

  .questions {
    margin-top: 0;
  }
}

@media (min-width: 768px) {
  .entry__text2 {
    padding: 0 50px;
    font-size: 40px;
  }
  .workout__text1 {
    font-size: 40px;
  }
  .workout__text2 {
    font-size: 20px;
  }

  .question__title {
    font-size: 30px;
  }

  .question {
    font-size: 25px;
  }
  .carousel {
    height: 40vh;
  }

  .navigation__content {
    transition: 0;
    top: -80px;
    right: 25px;
    display: flex;
    justify-content: end;
    font-size: 32px;
    opacity: 1;
    background-color: transparent;
    list-style: none;
  }

  .navigation__hamburger {
    display: none;
  }

  .workout__img {
    height: 30%;
  }

  .workout__text1 {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .workout__text2 {
    margin-bottom: 20px;
  }

  .live {
    margin-top: 50px;
  }

  .live {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .live__img {
    width: 19vw;
  }

  .live__images {
    width: 50%;
  }

  .live__content {
    width: 50%;
  }

  input:checked + .test {
    height: 135px;
  }
}

@media (min-width: 1200px) {
  .live__img {
    width: 240px;
  }

  .workout__img {
    width: 50%;
  }
}
